 body {
        margin: 0;                
        display: flex;
        align-items: center;      
        justify-content: center;    
        height: 100vh;            
        background-color: #ffffff;
        overflow: hidden; 
    }

    #danilson {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 500px; 
        padding: 20px;
        box-sizing: border-box;
    }
    #gatilho-giro {
        display: none;
    }
    #gatilho-giro:checked ~ #danilson .calse {
        animation: rodar 0.5s ease-in-out forwards;
    }
    
    .calse { 
        mix-blend-mode: multiply;
        filter: brightness(1.1) contrast(1.1);
        transition: all 0.5s;
        animation: surgir 2.5s forwards ease-out;
        cursor: pointer;
        max-width: 100%; 
        height: auto;   
        -webkit-tap-highlight-color: transparent; 
        animation: pausa 2s infinite;
    }
    
@keyframes pausa{
    0% { transform: scale(1); pointer-events: none;}
    20% { transform: scale(1.2);}
    40% { transform: scale(1);}
    100%{ transform: scale(1); pointer-events: auto; }

}

    .calse.rodando {
        animation: rodar 0.5s ease-in-out forwards;
    pointer-events: none;
       
    }
@keyframes rodar{ 
    from{ transform: rotate(0deg);}

    to{ transform: rotate(360deg); 
  }
}

  
    .apagar {
        opacity: 0 !important;
        pointer-events: none;
        transform: scale(0.9) !important;
    }
.bolinhas {
    flex-direction: row;
   display: flex;
    width: 45px;         
    height: 40px;
    background: linear-gradient(135deg, #06b60f, #033806);
    border-radius: 100%;
    box-shadow: 0 0 15px #06b60f, 0 0 30px rgba(6, 182, 15, 0.6);
}
.paidasbola{
    flex-direction: row;
   display: flex;
   gap: 25px;
}
 
.bolinhaspretas {
    flex-direction: row;
   display: flex;
    width: 45px;         
    height: 40px;
    background: linear-gradient(135deg, #5e5e5e, #000000);
    border-radius: 100%;
    box-shadow: 0 0 15px #5a5a5a, 0 0 30px rgba(46, 46, 46, 0.6);
}